h3{
	font-size:13px;
	font-weight:bold;
	letter-spacing:2px;
	margin-top:20px;
	margin-bottom:10px;
}


.main{
	position:relative;
	background: #FFF;
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 5px #aaa;
	-webkit-box-shadow:0 0 5px #aaa;
	margin:0px auto 0;
	padding:20px;
	width:800px;
}


.header {
	position: relative;
	background: #C2DCD9;
	background: -moz-linear-gradient(90deg, #C2DCD9, #E5EDEC);
	background: -webkit-gradient(linear, left top, left bottom, from(#E5EDEC),
		to(#C2DCD9) );
	-moz-box-shadow: 0 0 5px #aaa;
	-webkit-box-shadow: 0 0 5px #aaa;
	height: 80px;
	margin: 20px 0 -20px;
	padding: 25px 0px 0px 0px;
}

.header_title {
	width: 840px;
	height: 150px;
	margin: 0 auto 0 auto;
	background: url(../../img/peruflag-50px.png) no-repeat;
	padding-top: 15;
	background-size: 50;
}

.header_title h1 {
	margin-left: 60;
}

div.info_bottom {
	position:relative;
	margin:0px auto 0;
	padding:20px;
	width:800px;
	text-align: center;
}