h3{
	font-size:13px;
	font-weight:bold;
	letter-spacing:2px;
	margin-top:20px;
	margin-bottom:10px;
}


.main{
	position:relative;
	background: #FFF;
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 5px #aaa;
	-webkit-box-shadow:0 0 5px #aaa;
	margin:0px auto 0;
	padding:20px;
	width:800px;
}

div.participants{
	overflow-y:scroll;
	height: 200px;
	padding: 0px 0px 0px 0px;
	border:1px solid #aaa;
}


div.address {
	display: inline-block;
	width: 60%;
}

div.info_bottom {
	position:relative;
	margin:0px auto 0;
	padding:20px;
	width:800px;
	text-align: center;
}