
html {
	overflow:-moz-scrollbars-vertical;
}
body{
	background:#FFF;
	color:#000;
	font-family:Arial,sans-serif;
	font-size:12px;
	line-height:16px;
	text-shadow:0 1px 0 #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,freesans;
	margin:0; 
	padding:0;
}
div, h1{ 
	margin:0; 
	padding:0;
}

h2{
	border-bottom:1px solid #aaa;
	font-size:13px;
	font-weight:bold;
	letter-spacing:2px;
	margin-bottom:10px;
	text-transform:uppercase;
}

h3{
	font-size:13px;
	font-weight:bold;
	letter-spacing:2px;
	margin-top:20px;
	margin-bottom:10px;
}

.header{
	position:relative;
	background:#C2DCD9;
	background:-moz-linear-gradient(90deg, #C2DCD9, #E5EDEC);
	background:-webkit-gradient(linear, left top, left bottom, from(#E5EDEC), to(#C2DCD9));
	-moz-box-shadow:0 0 5px #aaa;
	-webkit-box-shadow:0 0 5px #aaa;
	height: 80px;
	margin: 20px 0 -20px; 
	padding: 25px 0px 0px 0px;
}

.header_title{
	width: 840px;
	height : 150px;
	margin: 0 auto 0 auto; 
	background:url(../img/peruflag.png) no-repeat;
	padding-top : 15;
	background-size:50;
}
.header_title h1{
	margin-left : 60;
}

.main{
	position:relative;
	background: #FFF;
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 5px #aaa;
	-webkit-box-shadow:0 0 5px #aaa;
	margin:0px auto 0;
	padding:20px;
	width:800px;
}

.main_chapter{
	margin: 20px auto 20px;
}

div.participants{
	overflow-y:scroll;
	height: 200px;
	padding: 0px 0px 0px 0px;
	border:1px solid #aaa;
}
table.participants{
	color:#333;
	font-family:Arial,sans-serif;
	font-size:12px;
	width:100%;
	cellspacing:0px;
	border-collapse: collapse;
}
table.participants thead {
	border-bottom: 1px solid #EEE;
}
table.participants thead tr{
	background:#ABCAC6;
}
table.participants thead th{
	border-left:5px;
}
table.participants td{
	width:15%;
	text-align:center;
}
table.participants tbody th{
	text-align:left;
	padding-left:5px;
}
table.participants tbody tr{
	border-bottom: 1px solid #DDD;
}
table.participants tbody tr:nth-child(2n+1){
	background:#E3EDEC;
}
table.participants tbody tr:nth-child(2n){
	background:#F3FAFA;
}
input[type="text"]{
	border: 1px solid #FFF;
    box-shadow: 0 0 3px #AAAAAA;
    padding: 3px;
	margin : 3px;
	width:200px;
}
input[type="text"]:active, input[type="text"]:focus {
    border: 1px solid #093C75;
    box-shadow: 0 0 3px #0459B7;
}
select {
	border: 1px solid #FFF;
    box-shadow: 0 0 3px #AAAAAA;
    padding: 3px;
	margin : 3px;
	width:200px;
}
select:active, select:focus {
    border: 1px solid #093C75;
    box-shadow: 0 0 3px #0459B7;
}
input[type="submit"], input[type="button"], a.submit {
    background: -moz-linear-gradient(90deg, #98CBC4, #ABCAC6) repeat scroll 0 0 transparent;
    border: 1px solid #67AFA5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 #FFFFFF;
    color: #333;
    cursor: pointer;
    font-family: Arial,sans-serif;
    font-size: 11px;
    text-decoration: none;
    text-shadow: 0 1px 1px #AAA;
    
}
input[type="button"]{
    background: #FFF;
    border-radius: 10px 10px 10px 10px;
}
input[type="submit"]{
    text-transform: uppercase;
	font-weight: bold;
	padding: 5px 10px;
}
input[type="submit"]:hover, a.submit:hover {
    background: -moz-linear-gradient(90deg, #0C49B2, #3F71C8) repeat scroll 0 0 transparent;
    border-color: #67AFA5;
    text-decoration: none;
	color: #FFF;
}


div.adress {
	display: inline-block;
	width: 60%;
}
div.join {
	display: block;	
	padding : 5px
}
div.join.supp {
	display: none;
}

.join_element {
	width:200px;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}
iframe.map {
	margin-top: 10;
	position : absolute;
	display: none;
	border: 1px solid #AAA;
	border-radius: 5px 5px 5px 5px;
	background:#C2DCD9;
	background:-moz-linear-gradient(90deg, #C2DCD9, #E5EDEC);
	background:-webkit-gradient(linear, left top, left bottom, from(#E5EDEC), to(#C2DCD9));
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;
	width:500; 
	height:350;
	margin-left:150;
	margin-top:-100;
}













