.map {
	margin-top: 10;
	position : absolute;
	display: none;
	border: 1px solid #AAA;
	border-radius: 5px 5px 5px 5px;
	background:#C2DCD9;
	background:-moz-linear-gradient(90deg, #C2DCD9, #E5EDEC);
	background:-webkit-gradient(linear, left top, left bottom, from(#E5EDEC), to(#C2DCD9));
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;
	width:500; 
	height:350;
	margin-left:150;
	margin-top:-100;
}