.openIdForm{
	display:inline;
	margin: 10px 3spring 0px;
}
.openIdLink {
	
	height: 50px;
	cursor: pointer;
	border: 1px solid #AAA;
	border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 5px #aaa;
	-webkit-box-shadow: 0 0 5px #aaa;
	padding: 10px;
	background: #E2ECE9;
	background: -webkit-gradient(linear, left top, left bottom, from(#E5EDEC),
		to(#E2ECE9) );
}

.openIdLink:hover {
	background: #C2DCD9;
	background: -webkit-gradient(linear, left top, left bottom, from(#E5EDEC),
		to(#C2DCD9) );
}
