<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOG4J" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Console appender -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy - HH:mm:ss} - [%t] -  %-5p - %c.%M:%L - %m %n" />
		</layout>
	</appender>

	<!-- File appender -->
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="worldcooking.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy - HH:mm:ss} - [%t] - %-5p - %c.%M:%L - %m %n" />
		</layout>
	</appender>

	<logger name="org.worldcooking">
		<level value="info" />
	</logger>

	<!-- set to debug to show SQL queries -->
	<logger name="org.hibernate.SQL">
		<level value="warn" />
	</logger>
	
	<!-- set to debug to show HBM2DLL queries -->
	<logger name="org.hibernate.tool.hbm2ddl">
		<level value="warn" />
	</logger>
	
	<logger name="org.springframework">
		<level value="warn" />
	</logger>
	
	<logger name="org.springframework.web">
		<level value="warn" />
	</logger>
	<root>
		<priority value="warn" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>